<footer>
	<div class="container">
		<div class="row copy">
			<div class="col-lg-12">
				<h6>© 2020 Lagoinha Promissão . Todos os direitos reservados.</h6>
				<div class="imglogofooter"><img  src="./images/logo-promissao-branca-footer.png" alt="Lagoinha Promissão"></div>
				
			</div>
		</div>
	</div>
</footer>