<footer>
	<div class="container">
		<div class="row copy">
			<div class="col-lg-12">
				<h6>©<%= new Date().getFullYear() %> Lagoinha Promissão . Todos os direitos reservados.</h6>
				<div class="imglogofooter"><img  src="./images/logo-lagoinha-promissao-branco.svg" alt="Lagoinha Promissão"></div>
				
			</div>
		</div>
	</div>
</footer>