<!-- Inicio Header -->
<header class="navbar navbar-fixed-top animated fadeInUp delay2">
	<div class="container">
	 
		<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-header">
			<a class="navbar-brand logo animated fadeInDown delay3" href="#">
				<img class="rounded-circle" src="./images/logo.jpg">
			</a>

			<div class="toogle">
			<button class="navbar-toggler navbar-taggle" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			</div>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav navbar-right">
					<li class="nav-item active">
						<a class="nav-link" href="/">Inicio <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#sobre">Sobre IBLP</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#videosrecentes">Videos Recentes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#nossospastores">Nossos Pastores</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contato">Contato</a>
					</li>

				</ul>
			</div>
			
		</nav>
		
	 
		
	</div>
</header>