<meta name="description" content="Lagoinha Promissão -A Igreja Batista da Lagoinha nasceu em Belo Horizonte e há mais de 6 décadas atua de forma relevante na expansão do evangelho. 
São mais de 92 mil membros que se reúnem em Belo Horizonte, São Paulo, no Brasil e exterior.">
<meta name="robots" content="index,follow">
<meta name="Yahoo Slurp" content="index, follow">
<meta name="Yahoobot" content="index, follow">
<meta name="baidubot" content="index, follow">
<meta name="bingbot" content="index, follow">
<meta name="googlebot" content="index,follow">
<meta name="author" content="Igreja Batista Lagoinha Promissão">
<meta name="city" content="Promissão, São Paulo, Brazil">
<meta name="country" content="Brazil">
<meta property="og:locale" content="pt_BR">

<meta property="og:image" content="<%- metaTag.img %>">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="440">
<meta property="og:type" content="website">
<meta property="og:title" content="<%- metaTag.title %>">
<meta property="og:description" content="<%- metaTag.description %>">
<meta property="og:url" content="https://lagoinhapromissao.com/">
<meta property="og:site_name" content="Lagoinha Promissão">

<link rel="canonical" href="https://lagoinhapromissao.com/">
<link rel="alternate" href="https://lagoinhapromissao.com/" hreflang="pt-br">
<meta name="keywords" content="Igreja Lagoinha de Promissão, Estudos GC, Lagoinha, Lagoinha Promissão, 
    Igreja Lagoinha, Igreja Batista Lagoinha, @lagouinhapromissão">
<title><%- metaTag.title %></title>