<section id="contato" class="generic contact">
  <div id="map">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14844.894658343439!2d-49.8547478!3d-21.538108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c085b67b85b1974!2sIgreja%20Batista%20da%20Lagoinha!5e0!3m2!1spt-BR!2sbr!4v1597682198703!5m2!1spt-BR!2sbr" width="100%" height="575" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div> 
    <div id="contact_bg">
        <div class="container">

            <div class="row text-center title">
                <div class="col-sm-12">
                    <h2>Entre em contato</h2>
                    <p>
                        Ligue para nós ou envie-nos um e-mail com quaisquer perguntas ou dúvidas que você possa ter.<br>
                        Ou se você estiver nas proximidades, faça-nos uma visita! <span class="rota"> <a class="linkrota" href="#"> <i class="icon-location"></i>  </a></span>
                   </p> 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" class="cardcontato">
                    <address>
                        R. Roque Francisco da Cunha, 14, Promissão - SP<br>
                        Telefone: 14 99604-0048  <br>
                       <i class="icon-mail"></i> Email: <a href="mailto:contato@lagouinhapromissao.com">contato@lagouinhapromissao.com</a><br>
                       <i class="icon-instagram"></i> Instagram: <a href="https://instagram.com/lagoinhapromissao" target="_blank">instagram.com/lagoinhapromissao</a><br>
                       <i class="icon-facebook"></i> Facebook: <a href="https://facebook.com/lagoinhapromissao" target="_blank">facebook.com/lagoinhapromissao</a><br>
                    </address>
                </div>
                <div class="col-sm-6"> 
                </div>
            </div>

        </div>
    </div>
</section>