<section id="instagram" class="padding-top-bottom gallery">
<div class="container">

	<!-- begin Title -->
	<div class="row text-center title">
		<div class="col-sm-12">
			<h2>Instagram</h2>
			<span class="dotts"> . . . . . . </span>     
		</div>          
	</div>
  <!--  
		Carregar o Instagram pelo nome via js, usado dois arquivos instagramLP.js (config) 
		e plugin Script instagram jquery.instagramFeed.js ( Plugin que faz interacao com instagram)
	-->
	<div class="row">
		<div class="col-12">
		 <div id="instagramLP" class="instagramLP"></div> 
		</div>
	</div>
   <div class="row"> <div class="col-12"> <span class="dotts"> . . . . . . </span>  </div></div>
	<!-- Legacy Instagram -->
	 <div class="row">
		<div class="col-12">
		 <div id="instagramLegacy" class="instagramLegacy"></div> 
		</div>
	</div>
</div>
</section>
