<section id="menu-gallery" class="generic gallery">
<div class="container">

	<!-- begin Title -->
	<div class="row text-center title">
		<div class="col-sm-12">
			<h2>Instagram</h2>
			<span class="dotts"> . . . . . . </span>            
		</div>          
	</div>
	<!-- end title -->

	<!-- begin Carousel -->
	<div id="carouselInstagram" class="row carousel slide" data-slide="carousel">	
		<div class="carousel-inner">
		
		<!-- bagin Item 1 -->
		<div class="carousel-item">
			<div class="row">
				<div class="image">
					<a href="img/photos/photo01.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo01.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo02.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo02.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo03.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo03.jpg" alt="img">
				</div>
			</div>
			<div class="row">
				<div class="image">
					<a href="img/photos/photo04.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo04.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo05.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo05.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo06.jpg" data-rel="prettyPhoto[pp_gal]" title="You can add caption to pictures." rel="prettyPhoto[pp_gal]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo06.jpg" alt="img">
				</div>
			</div>

			<div class="album-title">album <i class="icon-right-open-big"></i><span>Mission trip</span> </div>
		
		</div>
		<!-- end Item 1 -->

		<!-- bagin Item 2 -->
		<div class="carousel-item active">
			<div class="row">
				<div class="image">
					<a href="img/photos/photo07.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo07.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo08.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo08.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo03.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo03.jpg" alt="img">
				</div>
			</div>
			<div class="row">
				<div class="image">
					<a href="img/photos/photo04.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo04.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo05.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo05.jpg" alt="img">
				</div>
				<div class="image">
					<a href="img/photos/photo06.jpg" data-rel="prettyPhoto[gallery2]" title="You can add caption to pictures." rel="prettyPhoto[gallery2]">
						<span class="bg">
							<span class="plus"><i class="icon-plus"></i></span>
							<span class="title">2013 missiontrip to mexico. Homebuilding mission.</span>
						</span>
					</a>
					<img src="img/photos/photo06.jpg" alt="img">
				</div>
			</div>

			<div class="album-title">album <i class="icon-right-open-big"></i><span>Mission trip2</span> </div>
		
		</div>
		<!-- end Item 2 -->
	</div>

	<!-- begin Controls -->
	<div class="row control-arrow">
		<div class="col-sm-12">
			<div class="pull-left">
			<a href="#carouselInstagram" data-slide="prev"><i class="icon-left-open-big"></i> </a>
			</div>
			<div class="pull-right">
			<a href="#carouselInstagram" data-slide="next"><i class="icon-right-open-big"></i></a>
			</div>
		</div>
	</div>
	<!-- end Controls -->

	</div>
	<!-- end Carousel -->
</div>
</section>