<section id="menu-gallery" class="generic gallery">
<div class="container">

	<!-- begin Title -->
	<div class="row text-center title">
		<div class="col-sm-12">
			<h2>Instagram</h2>
			<span class="dotts"> . . . . . . </span>            
		</div>          
	</div>
  <!--  
		Carregar o Instagram pelo nome via js, usado dois arquivos instagramLP.js (config) 
		e plugin Script instagram jquery.instagramFeed.js ( Plugin que faz interacao com instagram)
	-->
	<div class="row">
		<div class="col-12">
		 <div id="instagramLP" class="instagramLP"></div> 
		</div>
		<div class="col-12 instagramBtn"> 
		  <a class="btn"  href="#" role="button">  Siga @LAGOINHA PROMISSÃO</a> 
		</div>
	</div>
	 
</div>
</section>
