<section id="midiassociais" class="generic gallery bg">
    <div class="container">

        <!-- begin Title -->
        <div class="row text-center title">
            <div class="col-sm-12">
                <h2>Nossas Mídias</h2>
                <span class="dotts"> . . . . . . </span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
            <div class="text-center title">
             <h2> Lagoinha Promissão</h2>
            </div>
               
                <div class="card-group">
                    <div class="card midiassociais-icons">
                <a href="https://www.facebook.com/lagoinhapromissao" target="_blank">  
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/facebook-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Lagoinha Promissão</h5> -->
                        </div>
                    </div>
                     </a>

                    <div class="card midiassociais-icons">
                    <a href="https://www.instagram.com/lagoinhapromissao/" target="_blank">  
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/instagram-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Lagoinha Promissão</h5> -->
                        </div>
                    </div>
                    </a>
                   
                    <div class="card midiassociais-icons">
                    <a href=" https://www.youtube.com/channel/UC-A4tH3VNuty6SjZqO9vtfw" target="_blank"> 
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/youtube-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Lagoinha Promissão</h5> -->
                        </div>
                    </div>
                    </a>
                </div>
 <div class="text-center title">
             <h2>Legacy Jovens | Promissão | Pr Nilson</h2>
            </div>
 

                 <div class="card-group">
               <div class="card midiassociais-icons">
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/facebook-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Legacy Jovens | Promissão</h5> -->
                        </div>
                    </div>
                    <div class="card midiassociais-icons">
                    <a href="https://www.instagram.com/legacypromissao/" target="_blank"> 
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/instagram-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Legacy Jovens | Promissão</h5> -->
                        </div>
                     </a>
                    </div>
                     <div class="card midiassociais-icons">
                    <a href="https://www.youtube.com/channel/UCJzDLUYpybKcK5FkZlSQVZQ" target="_blank"> 
                        <img class="card-img-top midiassociaisimgs"
                            src="./images/youtube-icon.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Pr. Nilson Vargens</h5> -->
                        </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>