<section id="nossospastores" class="generic pulpit">
<div class="container">

	<!-- begin Title -->
	<div class="row text-center title">
		<div class="col-sm-12">
			<h2>Nossos Pastores</h2>
			<span class="dotts"> . . . . . . </span>            
		</div>          
	</div>
	
            <div class="row">
              <!-- Pr. Nilson Vargens -->
                <div class="col-md-3 col-sm-3 pastores-fixed common-res-bottom">
                    <div class="pastoresbg image-grow">
                        <div>
                            <img src="./images/pastor.jpg" alt="image" class="img-responsive image-center res-image">
                        </div>
                        <div class="center pastoresbg-icon-pad">
                            <ul class="no-padding no-margin">
                                <li class="footer-icon">
                                    <a href="#">
                                        <img src="images/redesociais/facebook32x32x1.png" alt="facebook32x32x1">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/instagram32x32x2.png" alt="instagram32x32x2">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/twitter32x32x3.png" alt="instagram32x32x2">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="center h2-bottom">Pr. Nilson Vargens</h2>
                </div>
                 <!-- Pra. Tula Vargens -->
                <div class="col-md-3 col-sm-3 pastores-fixed common-res-bottom">
                    <div class="pastoresbg image-grow">
                        <div>
                            <img src="./images/pastora.jpg" alt="image" class="img-responsive image-center res-image">
                        </div>
                        <div class="center pastoresbg-icon-pad">
                            <ul class="no-padding no-margin">
                                <li class="footer-icon">
                                    <a href="#">
                                        <img src="images/redesociais/facebook32x32x1.png" alt="facebook32x32x1">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/instagram32x32x2.png" alt="instagram32x32x2">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/twitter32x32x3.png" alt="redesociais/twitter32x32x3">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="center h2-bottom">Pra. Tula Vargens</h2> 
                </div>
                <!-- Pr. Dani Soares -->
                <div class="col-md-3 col-sm-3 pastores-fixed common-res-bottom">
                    <div class="pastoresbg image-grow">
                        <div>
                            <img src="./images/pastor.jpg" alt="image" class="img-responsive image-center res-image">
                        </div>
                        <div class="center pastoresbg-icon-pad">
                            <ul class="no-padding no-margin">
                                <li class="footer-icon">
                                    <a href="#">
                                        <img src="images/redesociais/facebook32x32x1.png" alt="facebook32x32x1">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/instagram32x32x2.png" alt="instagram32x32x2">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/twitter32x32x3.png" alt="instagram32x32x2">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="center h2-bottom">Pr. Dani Soares</h2> 
                </div>
                <!-- Pra. Catia Turquino -->
                <div class="col-md-3 col-sm-3 pastores-fixed">
                    <div class="pastoresbg image-grow">
                        <div>
                            <img src="./images/pastora.jpg" alt="image" class="img-responsive image-center res-image">
                        </div>
                        <div class="center pastoresbg-icon-pad">
                            <ul class="no-padding no-margin">
                                <li class="footer-icon">
                                    <a href="#">
                                        <img src="images/redesociais/facebook32x32x1.png" alt="facebook32x32x1">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/instagram32x32x2.png" alt="instagram32x32x2">
                                    </a>
                                </li>

                                <li class="footer-icon footer-lr-pad">
                                    <a href="#">
                                        <img src="images/redesociais/twitter32x32x3.png" alt="facebook32x32x1">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="center h2-bottom">Pra. Catia Turquino</h2> 
                </div>
            </div>
       
</div>     
</section>