<!-- begin Revolution Slider -->
<div class="fullwidthbanner-container animated fadeInUp delay2" id="menu-jumbotron" >
<div class="fullwidthbanner">
	<ul>
	<!-- begin Slide 1 -->
   <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
		<img src="./images/background2.jpg" alt="background" />
		
		<div class="caption lfr" data-x="400" data-y="0" data-speed="900" data-start="2600" data-easing="easeOutExpo">
			<img src="./images/leaves.png" class="leaves" alt="//">
		</div>
		
		 

		<div class="caption sft text"  data-x="right" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">
			<span>  Guia-me mansamente as Agúas  tranquilas</span>
		</div>

		<div class="caption lft quote" data-x="right" data-y="0" data-speed="1200" data-start="3200" data-easing="easeOutExpo">
			salmos 23:2
		</div>
	</li>
	<!-- end Slide 1 -->

	<!-- begin Slide 2 -->
	  <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide2">
		<img src="./images/background3.jpg" alt="background" />
		
		<div class="caption lfr" data-x="400" data-y="0" data-speed="900" data-start="2600" data-easing="easeOutExpo">
			<img src="./images/leaves.png" class="leaves" alt="//">
		</div>
		
		<div class="caption sft title" data-x="left" data-y="0"  data-speed="1200" data-start="2700" data-easing="easeOutExpo">Mas o fruto do </div>

		<div class="caption sft text"  data-x="left" data-y="0"  data-speed="1200" data-start="2900" data-easing="easeOutExpo">
			<span class="pink">Espírito é Amor,</span> alegria, paz, <span class="yellow">paciência,</span> bondade <span class="purple">fidelidade,</span> mansidão e domínio próprio <span class="green">Contra essas coisas não há lei.</span>
		</div>

		<div class="caption lft quote" data-x="left" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">
			gal 5:22-23
		</div>
	</li> 
	<!-- end Slide 2 -->
	</ul>
</div>
</div>
<!-- end Revolution Slider -->