<!-- begin Revolution Slider -->
<section id="main">
    <div class="fullwidthbanner-container animated fadeInUp delay2" id="menu-jumbotron">
        <div class="fullwidthbanner">
            <ul>
                <!-- begin Slide 1 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/s1.png" class="image-slide" />
                </li>
                <!-- end Slide 1 -->

                <!-- begin Slide 2 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/slide2.png" alt="background" />
                    <div class="caption sft text" data-x="right" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">
                        <span class="purple"> Lugar de novos começos</span>
                    </div>
                </li>

                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/slide3.png" alt="background" />

                    <div class="caption sft text" data-x="lefth" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">
                        <span> Grande para servir Pequena para se importar</span>
                    </div>
                </li>
                <!-- end Slide 2 -->
            </ul>
        </div>
    </div>
</section>
<!-- end Revolution Slider -->
