<!-- begin Revolution Slider -->
<section id="main">
    <div class="fullwidthbanner-container animated fadeInUp delay2" id="menu-jumbotron">
        <div class="fullwidthbanner">
            <ul>
                <!-- begin Slide 1 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/s1-2022.jpeg" class="image-slide" />
                </li>
                <!-- end Slide 1 -->
                 <!-- begin Slide 2 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/s2.png" class="image-slide" />
                </li>
                <!-- end Slide 2 -->
                <!-- begin Slide 3 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/s3.png" alt="background" />
                    <div class="caption sft text" data-x="lefth" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">

                    <span> <strong><span class="violeta"> Lugar</span></strong> de novos<br> <strong><span class="violeta">começos</span></strong> </span>
 
                    </div>
                </li>
            <!-- end Slide 3 -->
            <!-- begin Slide 4 -->
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back" class="slide1">
                    <img src="./images/slide/s4.png" alt="background" />
                    <div class="caption sft text" data-x="right" data-y="0" data-speed="1200" data-start="3100" data-easing="easeOutExpo">
                        <span> <strong><span class="violeta"> Grande</span></strong> para servir<br> <strong><span class="violeta">Pequena</span></strong> para se importar</span>
                    </div>
                </li>
                <!-- end Slide 4 -->
            </ul>
        </div>
    </div>
</section>
<!-- end Revolution Slider -->
