<section id="sobre" class="generic service animated fadeInUp delay6">
<div class="container">

	 <!-- title -->
	 <div class="row text-center title">
		<div class="col-sm-12">
			<h2>Sobre &amp; IBLP</h2>
			<span class="dotts"> . . . . . . </span>            
		</div>          
	 </div>
	 <!-- end title -->

	<!-- begin Carousel -->
	<div class="row">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
	  <div class="col-sm-3 info-box">
					<h3>Service &amp; Bible Study Times</h3>
					<p> Sunday Worship:   10:00 AM Bible Studies:</p>
					<ul>
						<li>Youth:   1:00 PM*</li>
						<li>College:   2:30 PM</li>
						<li>Adults:  4:00 PM</li>
					</ul>
					<h6>*Times are subject to change</h6>
				</div>
				<div class="col-sm-8 col-md-offset-1">
					<h2>New Here? Welcome &amp; Come As You Are! <i class="glyphicon glyphicon-heart-empty"></i></h2>
					<p> Nroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisit ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit psum velit. </p>
					<p><strong>Daily Devotionals:</strong>  tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris.. </p>
					<p class="highlight">Romans 8:28   /   1 Corinthians 13    /   Psalms 3:5 </p>
				</div>
	  </div>						 
    </div>

    <div class="carousel-item">
		<div class="row">
		<div class="col-sm-3 info-box">
					<h3>Service &amp; Bible Study Times</h3>
					<p> Sunday Worship:   10:00 AM Bible Studies:</p>
					<ul>
						<li>Youth:   1:00 PM*</li>
						<li>College:   2:30 PM</li>
						<li>Adults:  4:00 PM</li>
					</ul>
					<h6>*Times are subject to change</h6>
				</div>
				<div class="col-sm-8 col-md-offset-1">
					<h2>2New Here? Welcome &amp; Come As You Are! <i class="glyphicon glyphicon-heart-empty"></i></h2>
					<p> Nroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisit ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit psum velit. </p>
					<p><strong>Daily Devotionals:</strong>  tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris.. </p>
					<p class="highlight">Romans 8:28   /   1 Corinthians 13    /   Psalms 3:5 </p>
				</div>
		</div>	

    </div>

    <div class="carousel-item">
     
	 	<div class="row">
		 	<div class="col-sm-3 info-box">
					<h3>Service &amp; Bible Study Times</h3>
					<p> Sunday Worship:   10:00 AM Bible Studies:</p>
					<ul>
						<li>Youth:   1:00 PM*</li>
						<li>College:   2:30 PM</li>
						<li>Adults:  4:00 PM</li>
					</ul>
					<h6>*Times are subject to change</h6>
				</div>
				<div class="col-sm-8 col-md-offset-1">
					<h2>3New Here? Welcome &amp; Come As You Are! <i class="glyphicon glyphicon-heart-empty"></i></h2>
					<p> Nroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisit ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit psum velit. </p>
					<p><strong>Daily Devotionals:</strong>  tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris.. </p>
					<p class="highlight">Romans 8:28   /   1 Corinthians 13    /   Psalms 3:5 </p>
				</div>
				
				</div>
			
    </div>

  </div>
 
</div>
	</div>
	<!-- end Carousel -->
		<!-- begin Controls -->
		<div class="row cu-controls">
			<div class="col-sm-12">
				<a href="#carouselExampleIndicators" data-slide="prev" class="sercacontrol"><i class="icon-left-open-big"></i></a>
				<a href="#carouselExampleIndicators" data-slide="next" class="sercacontrol next"><i class="icon-right-open-big"></i></a>
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" class="middle" data-slide-to="0">Missão</li>
					<li data-target="#carouselExampleIndicators" class="middle" data-slide-to="1">Visão</li>
					<li data-target="#carouselExampleIndicators" class="middle" data-slide-to="2">Valores</li>
				</ol>
			</div>
		</div>
		<!-- end Controls -->
</div>     
</section>
 