<section id="sobre" class="generic service animated fadeInUp delay3">
	<div class="container">

		<!-- title -->
		<div class="row text-center title">
			<div class="col-sm-12">
				<h2>Sobre IBLP</h2>
				<span class="dotts"> . . . . . . </span>
			</div>
		</div>
		<!-- end title -->

		<!-- begin Carousel -->
		<div class="row">

			<div class="col-sm-3 info-box">
				<h3>Horários</h3>
				<!-- <p> Sunday Worship: 10:00 AM Bible Studies:</p> -->
				<ul>
					<li>Culto de Celebração Domingo ás 10h e 19h</li>
					<li>Homens Nobres Segunda 20h</li>
					<li>Culto Fé Terça 20h</li>
					<li>Legacy Jovens Sábado 20h</li>
				</ul>
				<h6>*Horários estão sujeitos a mudanças</h6>
			</div>
			<div class="col-sm-8 col-md-offset-1">
				<h2>A Igreja <i class="icon-heart"></i></h2>
				<p> A Igreja Batista da Lagoinha nasceu em Belo Horizonte e há 60 anos atua de forma relevante na
					expansão do evangelho.
					aproximadamente, 82.400 membros em Belo Horizonte, outras cidades de Minas Gerais, no Brasil e
					exterior. Em 20 de dezembro de 1957, nasceu a Sexta Igreja Batista, ou, conforme seria chamada, a Igreja
					Batista da Lagoinha. Um grupo de 32 pessoas, liderado pelo pastor José Rêgo do Nascimento. A partir
					de 1972, ano em que a igreja tinha cerca de 300 membros, passou a ser liderada pelo pastor Márcio
					Roberto Vieira Valadão, ainda hoje à frente da congregação. <br></p>

	<p>
  <a class="primary" data-toggle="collapse" href="#sobreigrejavermais" role="button" aria-expanded="false" aria-controls="collapseExample">
    <em>Continue lendo...</em>
  </a>
   
</p>
<div class="collapse" id="sobreigrejavermais">
  <div class="card card-body">
    	<p>
					Atualmente, em um processo de expansão dinâmico, inúmeras igrejas são implantadas em diferentes
					lugares no Brasil e mundo afora.<br> Em paralelo ao trabalho de expansão, a igreja promove e contribui com o desenvolvimento pessoal e
					social, por meio de projetos que se destinam à ressocialização, ao atendimento jurídico gratuito, à
					capacitação profissional, assistência espiritual, psicológica e familiar, dentre outros,
					viabilizados tanto pelas Lagoinhas quanto pelos departamentos internos instalados na sede.<br>
					Uma igreja que está sempre em movimento, trabalhando e expandindo o seu contato com o público de
					forma pessoal, relevante e saudável.</p>
				<p><strong>Missão:</strong> Nossa missão é ser uma inspiração e propagar o evangelho a todas as pessoas.</p>
				<p><strong>Visão:</strong> Temos como visão alcançar até 2020, 10% da população de cada cidade em que
					estamos localizados, por meio de trabalho com pequenos grupos, GCs, que hoje somam mais de 3.800.
				</p>
				<p><strong>Valores:</strong> Na Lagoinha todos podem servir com aquilo que sabem fazer de melhor. Um
					lugar para todos, crianças, adolescentes, jovens, adultos e idosos. Todas as
					<strong>“tribos”</strong> se unem aqui. <br>
					O propósito como igreja é estar sempre perto de cada membro. Acreditamos ser uma comunidade sem
					fronteiras, que busca alcançar e conectar pessoas. Tudo o que fazemos é para o Senhor que fazemos.
					Somos muitos. Feitos por todos e para todos. Somos igreja. Somos Lagoinha.</p>
  </div>
</div>

				
			</div>

		</div>
	</div>
</section>