<section id="videosrecentes" class="generic videosRecentes animated fadeInUp delay6">
	<div class="container">

		<!-- begin title -->
		<div class="row text-center title">
			<div class="col-sm-12">
				<h2>Videos Recentes</h2>
				<span class="dotts"> . . . . . . </span>
			</div>
		</div>
		<!-- end title -->

		<!-- begin Carousel -->
		<div class="row">
			<div id="carouselVideosRecentes" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">
					<% for (channel of channels){ %>
					<!-- begin Item 1 -->
					<div class="carousel-item active">
						<% for (recent of channel.recents){ %>
						<div class="groups">
							<img src="<%- recent.snippet.thumbnails.medium.url %>" alt="//">
							<p class="title"><%= recent.snippet.title %></p>
							<a class="videosRecentes-contact" href="https://www.youtube.com/watch?v=<%= recent.id.videoId %>">Confira<i class="icon-right-thin"></i></a>
							<a class="btn more" href="https://www.youtube.com/watch?v=<%= recent.id.videoId %>">VER</a>
						</div>

						<% } %>
					</div>

					<!-- end Item 1 -->
					<% } %>
				</div>

				<!-- begin Controls -->
				<div class="row cu-controls">
					<div class="col-sm-12">
						<a href="#carouselVideosRecentes" data-slide="prev" class="sercacontrol">
							<i class="icon-left-open-big"></i></a>
						<a href="#carouselVideosRecentes" data-slide="next" class="sercacontrol next">
							<i class="icon-right-open-big"></i></a>
						<span class="pull-left"></span>
						<span class="pull-right"></span>
						<ol class="carousel-indicators">
							<li data-target="#carouselVideosRecentes" class="middle active" data-slide-to="0"></li>
							<li data-target="#carouselVideosRecentes" class="middle" data-slide-to="1"></li>
							<li data-target="#carouselVideosRecentes" class="middle" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
				<!-- end Controls -->

			</div>
		</div>
		<!-- end Carousel -->

	</div>
</section>